pkgbase = muslimtify
	pkgdesc = An Islamic prayer time notification daemon for Linux
	pkgver = 0.2.5
	pkgrel = 1
	url = https://github.com/rizukirr/muslimtify
	install = muslimtify.install
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = pkgconf
	depends = libnotify
	depends = curl
	source = muslimtify-0.2.5.tar.gz::https://github.com/rizukirr/muslimtify/archive/v0.2.5.tar.gz
	sha256sums = ead098adde728363f62a95653bcd73cb31ebb0cb9130cae828ca900daed18dd0

pkgname = muslimtify
