pkgbase = muslimtify
	pkgdesc = An Islamic prayer time notification daemon for Linux
	pkgver = 0.2.5
	pkgrel = 1
	url = https://github.com/rizukirr/muslimtify
	install = muslimtify.install
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = pkgconf
	depends = libnotify
	depends = curl
	source = muslimtify-0.2.5.tar.gz::https://github.com/rizukirr/muslimtify/archive/v0.2.5.tar.gz
	sha256sums = d9091b14b5792732dc95e67e71cb2feed2f5593dd81ec4ec207de522bd6a07ea

pkgname = muslimtify
